@import url("https://fonts.googleapis.com/css?family=Montserrat|Work+Sans:700|Source+Code+Pro:700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css");
.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fafafa;
  z-index: 9999999; }
  .preloader__spinner {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    background-color: #eee; }
    .preloader__spinner::after, .preloader__spinner::before {
      content: "";
      display: block;
      width: 100px;
      height: 100px;
      border-radius: 50%; }
    .preloader__spinner:after {
      position: absolute;
      top: -4px;
      left: -4px;
      border: 4px solid transparent;
      border-top-color: orangered;
      border-bottom-color: orangered;
      animation: spin 2s linear infinite; }

@keyframes spin {
  from {
    transform: rotate(0deg) scale(1); }
  50% {
    transform: rotate(180deg) scale(1.2); }
  to {
    transform: rotate(360deg) scale(1); } }
* {
  font-family: "Montserrat", "Raleway", sans-serif;
  margin: 0;
  padding: 0; }

html, body {
  color: #333;
  background-color: #ecf0f1; }

body::-webkit-scrollbar {
  width: 5px; }
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2980b9;
  outline: 1px solid #2980b9; }

img {
  max-width: 100%;
  max-height: 100%; }

input,
button {
  border: none;
  outline: none; }

button {
  cursor: pointer; }

.clearfix,
.event-container {
  overflow: auto; }
  .clearfix::after,
  .event-container::after {
    content: "";
    clear: both;
    display: block; }

.navigation {
  padding: 0 30px;
  height: 3.6rem;
  background-color: #245CBC;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  z-index: 9999; }
  .navigation__logo, .navigation__menu > li > a {
    color: #fafafa;
    text-decoration: none; }
  .navigation__logo, .navigation__menu > li > a, .navigation__menu-toggle {
    line-height: 3.6rem; }
  .navigation__logo, .navigation__menu, .navigation__menu > li > a, .navigation__form {
    display: block; }
  .navigation__logo, .navigation__menu, .navigation__menu > li {
    float: left; }
  .navigation__menu-toggle {
    float: right; }
  .navigation__logo {
    font-weight: 700;
    font-size: 1.2rem;
    padding: 0 2.6rem;
    margin: 0 20px; }
  .navigation__menu {
    list-style-type: none; }
    .navigation__menu > li > a {
      position: relative;
      font-size: .95rem;
      padding: 0 16px; }
      .navigation__menu > li > a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        bottom: 0;
        left: 0;
        background-color: #f39c12;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s; }
      .navigation__menu > li > a:hover::after {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1); }
    .navigation__menu-toggle {
      background-color: transparent;
      padding: 0 22px;
      color: #fafafa; }

@media screen and (min-width: 634px) {
  .navigation__menu-toggle {
    display: none; } }
@media screen and (max-width: 634px) {
  .navigation {
    padding: 0 10px; }
    .navigation__menu {
      display: none;
      position: absolute;
      top: 3.6rem;
      right: 0;
      bottom: 0;
      width: 0;
      background-color: #E91E63;
      box-shadow: inset 0 3px 7px rgba(0, 0, 0, 0.3), 0 5px 13px rgba(0, 0, 0, 0.35);
      z-index: 9999; }
      .navigation__menu > li {
        width: 100%; }
        .navigation__menu > li > a:hover {
          background-color: #A71143; }
        .navigation__menu > li > a::after {
          background-color: #fafafa; }
      .navigation__menu.is-active {
        display: block;
        width: 250px;
        animation: slideInMenu 350ms cubic-bezier(0.39, 0.58, 0.57, 1); }
      .navigation__menu-toggle {
        display: block; }
  @keyframes slideInMenu {
    from {
      width: 0; }
    70% {
      width: 270px; }
    to {
      width: 250px; } } }
.carousel,
.carousel__image {
  display: block; }

.carousel {
  z-index: 100; }
  .carousel__image {
    position: absolute;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.3);
    left: calc((100% - 1007px)/2);
    transition: opacity .5s ease-in;
    z-index: 200; }
    .carousel__image + .carousel__image__image {
      opacity: 0; }

@media screen and (min-width: 1007px) {
  .carousel {
    margin-top: 6rem; } }
@media screen and (max-width: 1007px) {
  .carousel {
    margin-top: 1.4rem; }
    .carousel__image {
      width: 96%;
      left: calc((100% - 96%)/2); } }
.event-container,
.event,
.event-container__title,
.event-container__title > span,
.event__duration,
.event__footer {
  display: block; }

.event-container {
  padding: 4em 1.4em;
  text-align: center;
  color: #fafafa;
  background-color: #27ae60; }
  .event-container__title {
    margin: 2rem auto;
    font: 700 3em "Work Sans", "Montserrat", sans-serif; }
    .event-container__title > span {
      margin: 1em;
      font: 400 20px "Montserrat", sans-serif; }
  .event-container__action {
    margin-top: 10px;
    margin-right: 20px;
    float: right;
    font-size: 1.2rem;
    color: #fafafa;
    font-weight: 500;
    text-transform: uppercase;
    padding: 12px 18px;
    background: transparent;
    border-radius: 7px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #fafafa;
    transition: transform 200ms ease-in; }
    .event-container__action:focus, .event-container__action:hover {
      transform: scale(1.01);
      box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.1); }

.event {
  margin: 20px 20px;
  width: calc(25% - 40px);
  color: #888;
  background-color: #fff;
  float: left;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.35);
  transition: transform 350ms ease-in-out; }
  .event:hover {
    transform: scale(1.03); }
  .event__image {
    border-radius: 3px 3px 0 0;
    width: 100%; }
  .event__duration {
    padding: 1.3em 0; }
  .event__footer {
    border-radius: 0 0 3px 3px; }
    .event__footer p {
      padding: 1.3em 0; }
      .event__footer p a {
        text-decoration: underline;
        color: #666; }
    .event__footer::before {
      content: "";
      display: block;
      height: 1px;
      width: 85%;
      margin: auto;
      background-color: #ccc; }

@media (min-width: 434px) and (max-width: 924px) {
  .event-container__action {
    font: 600 1em "Montserrat", sans-serif;
    margin: 0px 16px; }

  .event {
    margin: 20px 16px;
    width: calc(50% - 32px); } }
@media screen and (max-width: 434px) {
  .event-container__action {
    margin: 0px 6px; }

  .event {
    margin: 20px 6px; }

  .event,
  .event-container__action {
    width: calc(100% - 12px); } }
.news-letter {
  color: #fafafa;
  background-color: #414141;
  text-align: center;
  padding: 5em 20px; }
  .news-letter__title, .news-letter__form {
    margin: 1em;
    padding: 10px; }
  .news-letter__title {
    font: 700 2em "Work Sans", "Montserrat", sans-serif; }
  .news-letter__form-mail-address,
  .news-letter__form button[type="submit"] {
    padding: 15px;
    margin: 5px;
    border-radius: 3px;
    font: 400 1em "Montserrat", sans-serif;
    letter-spacing: 1px;
    border: 2px solid #fafafa; }
  .news-letter__form-mail-address {
    color: #777; }
  .news-letter__form button[type="submit"] {
    color: #fafafa;
    background: transparent;
    transition: transform 400ms ease; }
    .news-letter__form button[type="submit"]:focus, .news-letter__form button[type="submit"]:hover {
      transform: scale(1.06); }

@media screen and (min-width: 596px) {
  .news-letter input[type="email"],
  .news-letter button[type="submit"] {
    display: inline-block; }
  .news-letter input[type="email"] {
    width: 260px;
    transition: width 500ms ease-in-out; }
    .news-letter input[type="email"]:focus {
      width: 300px; }
  .news-letter > button[type="submit"] {
    transition: transform 400ms ease; }
    .news-letter > button[type="submit"]:focus, .news-letter > button[type="submit"]:hover {
      transform: scale(1.06); } }
@media screen and (max-width: 596px) {
  .news-letter input[type="email"],
  .news-letter button[type="submit"] {
    display: block;
    text-align: center;
    margin: 10px auto;
    transition: transform 200ms cubic-bezier(0.39, 0.58, 0.57, 1); }
    .news-letter input[type="email"]:focus, .news-letter input[type="email"]:hover,
    .news-letter button[type="submit"]:focus,
    .news-letter button[type="submit"]:hover {
      transform: scale(1.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.35); }
  .news-letter input[type="email"] {
    width: calc(85% - 30px - 4px); }
  .news-letter button[type="submit"] {
    width: 85%; } }
@media screen and (max-width: 404px) {
  .news-letter {
    padding: 5em 5px; }
    .news-letter input[type="email"] {
      width: 90%; }
    .news-letter button[type="submit"] {
      width: calc(90% + (30px + 4px)); } }
.illusion-of-typed-text {
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f1c40f; }
  .illusion-of-typed-text .in-desktop,
  .illusion-of-typed-text .in-mobile {
    overflow: hidden;
    white-space: nowrap;
    font: 700 3.5em "Source Code Pro", monospace;
    text-transform: capitalize;
    color: #34495e; }

@keyframes type {
  from {
    width: 0; } }
@keyframes blink {
  50% {
    border-color: transparent; } }
@media screen and (min-width: 1082px) {
  .illusion-of-typed-text {
    padding: 5em 0;
    margin-bottom: -6em;
    top: -6em; }
    .illusion-of-typed-text .in-mobile {
      display: none; }
    .illusion-of-typed-text .in-desktop {
      margin-top: 5rem;
      display: block;
      width: 33ch;
      border-right: 3px solid #333;
      animation: type 4s steps(33) infinite, blink 0.5s infinite alternate; } }
@media (min-width: 760px) and (max-width: 1082px) {
  .illusion-of-typed-text {
    margin-bottom: -4em;
    top: -4em;
    padding-top: 4em; }
    .illusion-of-typed-text .in-desktop {
      display: block;
      width: 33ch;
      border-right: 3px solid #333;
      font: 600 2.2em "Source Code Pro", monospace;
      margin: 3rem;
      animation: type 4s steps(33) infinite, blink 0.5s infinite alternate; }
    .illusion-of-typed-text .in-mobile {
      display: none; } }
@media screen and (max-width: 760px) {
  .illusion-of-typed-text {
    margin-bottom: -3em;
    top: -3em;
    padding-top: 3em; }
    .illusion-of-typed-text .in-desktop {
      display: none; }
    .illusion-of-typed-text .in-mobile {
      font: 700 3em "Montserrat", monospace;
      letter-spacing: 3px;
      display: block;
      width: 10ch;
      border-right: 3px solid #333;
      margin: 2rem;
      animation: type 3s steps(10) infinite, blink 0.5s infinite alternate; } }
@media screen and (max-width: 424px) {
  .illusion-of-typed-text .in-mobile {
    font: 700 1em "Montserrat", monospace;
    width: 16ch;
    letter-spacing: 6px;
    animation: type 3s steps(16) infinite, blink 0.5s infinite alternate; } }

/*# sourceMappingURL=app.css.map */
